
# Compiled Object files
*.slo
*.lo
*.o

# Compiled libraries
#*.so
*.dylib
*.dll
*.lai
*.la
*.a

# Cmake stuff
CMakeCache.txt
CMakeFiles
cmake_install.cmake
Makefile
mergeSA
mergeLib/build/versions.h
.qdevelop
.vscode
# Computed data
RESULT_*
*.list
*.stl
*.geom
core

# build directories
build_*
build*
**build*

# temporary files
*~
*.autosave

# ignore local cmake-call scripts
/create*.sh
build
buildDebug
old_mergeLib
.ycm_extra_conf.py
CMakeLists.txt.user

# ignore some hidden files
.cproject
.project


alsim/code/alsim/BuildInfo.xml
alsim/code/alsim/simulator/include/CTemplateSimulatorBNAbs.hpp
alsim/code/alsim/src/frameoutput
alsim/code/alsim/src/testframe.exe
alsim/code/commonlib_old/
alsim/code/fade_2d_new/doc/
alsim/code/fade_2d_new/lib_ubuntu15.10_x86_64/
alsim/code/fade_2d_new/x64/fade25D_x64_v110_Debug.exp
alsim/code/fade_2d_new/x64/fade25D_x64_v110_Debug.lib
alsim/code/fade_2d_new/x64/fade25D_x64_v110_Release.exp
alsim/code/fade_2d_new/x64/fade25D_x64_v110_Release.lib
alsim/code/fade_2d_new/x64/fade25D_x64_v120_Debug.exp
alsim/code/fade_2d_new/x64/fade25D_x64_v120_Debug.lib
alsim/code/fade_2d_new/x64/fade25D_x64_v120_Release.exp
alsim/code/fade_2d_new/x64/fade25D_x64_v120_Release.lib
alsim/code/fade_2d_new/x64/fade25D_x64_v140_Debug.exp
alsim/code/fade_2d_new/x64/fade25D_x64_v140_Debug.lib
alsim/code/fade_2d_new/x64/fade25D_x64_v140_Release.exp
alsim/code/fade_2d_new/x64/fade25D_x64_v140_Release.lib
alsim/code/fade_2d_new/x64/fade25D_x64_v90_Debug.exp
alsim/code/fade_2d_new/x64/fade25D_x64_v90_Debug.lib
alsim/code/fade_2d_new/x64/fade25D_x64_v90_Release.exp
alsim/code/fade_2d_new/x64/fade25D_x64_v90_Release.lib
alsim/code/fade_2d_new/x64/fade2D_x64_Windows7.1SDK_Debug.exp
alsim/code/fade_2d_new/x64/fade2D_x64_Windows7.1SDK_Debug.lib
alsim/code/fade_2d_new/x64/fade2D_x64_Windows7.1SDK_Release.exp
alsim/code/fade_2d_new/x64/fade2D_x64_Windows7.1SDK_Release.lib
alsim/code/fade_2d_new/x64/fade2D_x64_v110_Debug.exp
alsim/code/fade_2d_new/x64/fade2D_x64_v110_Debug.lib
alsim/code/fade_2d_new/x64/fade2D_x64_v110_Release.exp
alsim/code/fade_2d_new/x64/fade2D_x64_v110_Release.lib
alsim/code/fade_2d_new/x64/fade2D_x64_v120_Debug.exp
alsim/code/fade_2d_new/x64/fade2D_x64_v120_Debug.lib
alsim/code/fade_2d_new/x64/fade2D_x64_v120_Release.exp
alsim/code/fade_2d_new/x64/fade2D_x64_v120_Release.lib
alsim/code/fade_2d_new/x64/fade2D_x64_v140_Debug.exp
alsim/code/fade_2d_new/x64/fade2D_x64_v140_Debug.lib
alsim/code/fade_2d_new/x64/fade2D_x64_v140_Release.exp
alsim/code/fade_2d_new/x64/fade2D_x64_v140_Release.lib
alsim/code/fade_2d_new/x64/fade2D_x64_v90_Debug.exp
alsim/code/fade_2d_new/x64/fade2D_x64_v90_Debug.lib
alsim/code/fade_2d_new/x64/fade2D_x64_v90_Release.exp
alsim/code/fade_2d_new/x64/fade2D_x64_v90_Release.lib
alsim/code/fade_2d_new/x64/libgmp-10.lib
alsim/eclipseDebug/
alsim/eclipseRelease/
code/mergeLib/.cproject
code/mergeLib/.project
eclipse/
eclipseDebug/
q
.cache
.idea
compile_commands.json
